In [1]:
import pandas as pd
import signal
from mip import Model, xsum, maximize, BINARY
from itertools import product
import time
import numpy as np

In [2]:
# day start at 8 and ends at 14
data ={"Time":[60,40,80,50,60,30, 60, 120, 30, 60, 120],
"Activity name":["watch anime","exercise","go to swim", "go running","have lunch","have breakfast",
                 "play video game short","play video game long","read a good book",
                 "do a coding tutorial short", "do a coding tutorial long"],

"Satisfaction":[7,7,8,8,3,3,7,8,6,9,10],
"Energy needed":[0,3,4,5,0,0,0,0,3,6,8]
}
df = pd.DataFrame.from_dict(data)

# Specify min and max start time (hour)
df.loc[df["Activity name"].str.contains("breakfast"),"End Before"] = 11
df.loc[df["Activity name"].str.contains("lunch"),"Start After"] = 12
df.loc[df["Activity name"].str.contains("exercise|swim|run|coding"),"Start After"] = 9

# Specify if an activity must be done in the time window
df["Must_Do"] = False
df.loc[df["Activity name"].str.contains("breakfast|lunch"),"Must_Do"] = True

In [3]:
df

,Time,Activity name,Satisfaction,Energy needed,End Before,Start After,Must_Do
0,60,watch anime,7,0,NaN,NaN,False
1,40,exercise,7,3,NaN,9.0,False
2,80,go to swim,8,4,NaN,9.0,False
3,50,go running,8,5,NaN,9.0,False
4,60,have lunch,3,0,NaN,12.0,True
5,30,have breakfast,3,0,11.0,NaN,True
6,60,play video game short,7,0,NaN,NaN,False
7,120,play video game long,8,0,NaN,NaN,False
8,30,read a good book,6,3,NaN,NaN,False
9,60,do a coding tutorial short,9,6,NaN,9.0,False
10,120,do a coding tutorial long,10,8,NaN,9.0,False

In [4]:
# df.to_csv("morning_activies.csv")

In [82]:
df

,Time,Activity name,Satisfaction,Energy needed,End Before,Start After,Must_Do,Starting_Time_min,Starting_Time,Ending_Time
0,60,watch anime,7,0,NaN,NaN,False,661.0,11h 1m,12h 1m
1,40,exercise,7,3,NaN,9.0,False,771.0,12h 51m,13h 31m
2,80,go to swim,8,4,NaN,9.0,False,675.0,11h 15m,12h 35m
3,50,go running,8,5,NaN,9.0,False,651.0,10h 51m,11h 41m
4,60,have lunch,3,0,NaN,12.0,True,769.0,12h 49m,13h 49m
5,30,have breakfast,3,0,11.0,NaN,True,623.0,10h 23m,10h 53m
6,60,play video game short,7,0,NaN,NaN,False,665.0,11h 5m,12h 5m
7,120,play video game long,8,0,NaN,NaN,False,714.0,11h 54m,13h 54m
8,30,read a good book,6,3,NaN,NaN,False,NaN,NaN,NaN
9,60,do a coding tutorial short,9,6,NaN,9.0,False,NaN,NaN,NaN
10,120,do a coding tutorial long,10,8,NaN,9.0,False,NaN,NaN,NaN

In [34]:
df.loc[2,"Start After"]

9.0

In [52]:
# df = pd.read_csv("morning_activies.csv")

# starting
start = time.time()

# Metadata
day_start = 8 # day starts at 8 Am

##########################
#  SETS
##########################

# Set of activities
I = set(range(df.shape[0]))

# Set of time instant in minutes, time start at 8AM and ends at 14
T = set(range(360))

# sets of activities i that has a start date, a end date, must be done
S = set(df[df["Start After"].notnull()].index)
E = set(df[df["End Before"].notnull()].index)

##########################
#  Parameters
##########################

# Satisfaction of each activity
w = df["Satisfaction"].tolist()

# Energy cost
e = df["Energy needed"].tolist()

# Time needed to complete the activity
d = df["Time"]

# Max energy, since I am not a morning howl i specificy a max energy available ;)
Me = 12

# activies must be done 
O = df["Must_Do"]*1

##########################
#  Model definition
##########################

m = Model("morning_schedule")

# binary variables indicating if activity i starts at time t
x = [[m.add_var(name='activity_start_in_t',var_type=BINARY) for t in T] for i in I]

# binary variables indicating if activity i is done
y = [m.add_var(name='activity_done') for i in I]


m.objective = maximize(xsum(y[i]*w[i] for i in I))

# minimum number of people in office satisfied

for i in I: # compulsory activity should be done, y>=0
    m += y[i] >= O[i]

for i in I: # y <= 1
    m += y[i] <= 1
# max energy
m += xsum(y[i]*e[i] for i in I) <= Me

for i in S : # min start
    m += xsum(t*x[i][t] for t in T) >= (df.loc[i,"Start After"]-day_start)*60*y[i]

for i in E : # max end
    m += xsum(t*x[i][t] for t in T) <= ((df.loc[i,"End Before"]-day_start)*60 - d[i]) + len(T)*(1-y[i])

for i in I: # Link y and x variables, y=1 => exist and x=1
    m += y[i] == xsum(x[i][t]  for t in T)

for i in I:  # do one activity at most once
    m += xsum(x[i][t]  for t in T) <= 1

    
for (i, t) in product(I,T): # do at most one activity at once part 1
    m += x[i][t] <= 1 - xsum(x[j][tau] if (j!=i & tau>=t-d[j]+1) else 0
                             for j in I for tau in set(range(t+d[i]))) #{t-d[j]+1, ... t+d[i]-1}


m.optimize()

intermediate = time.time()
print(f"intermediate time elapsed: {intermediate - start}")

df["Starting_Time_min"]=np.nan
#df["Ending_Time"]=np.nan

change_i = ""
for i,t in product(I,T):
    if(i!=change_i):
        if(y[i].x==0):
            change_i = i
            continue  
        if(x[i][t].x>0):
           df.loc[i,"Starting_Time_min"] = 60*8 + t
           #df.loc[i,"Ending_Time"] = 60*8 + t + d[i]
           change_i = i
           print(f"i: {i}, t: {t}")

end = time.time()
print(f"time elapsed: {end - start}")
print(f"optimal solution provide satisfaction: {m.objective_value}")

. -52 iterations 53
Cbc0038I Pass  33: suminf.    0.49776 (2) obj. -51.2399 iterations 30
Cbc0038I Pass  34: suminf.    0.66667 (2) obj. -52 iterations 1
Cbc0038I Pass  35: suminf.    2.60000 (7) obj. -52.2 iterations 88
Cbc0038I Pass  36: suminf.    0.49776 (2) obj. -51.2399 iterations 64
Cbc0038I Pass  37: suminf.    0.49776 (2) obj. -51.2399 iterations 3
Cbc0038I Pass  38: suminf.    0.66667 (2) obj. -52 iterations 12
Cbc0038I Pass  39: suminf.    0.66667 (2) obj. -52 iterations 92
Cbc0038I Pass  40: suminf.    0.49776 (2) obj. -51.2399 iterations 54
Cbc0038I Pass  41: suminf.    0.66667 (2) obj. -52 iterations 8
Cbc0038I Pass  42: suminf.    2.66667 (8) obj. -52 iterations 75
Cbc0038I Pass  43: suminf.    0.49776 (2) obj. -51.2399 iterations 64
Cbc0038I Pass  44: suminf.    0.66667 (2) obj. -52 iterations 15
Cbc0038I Pass  45: suminf.    0.66667 (2) obj. -52 iterations 52
Cbc0038I Pass  46: suminf.    0.49776 (2) obj. -51.2399 iterations 40
Cbc0038I Pass  47: suminf.    0.66667 (2) obj. -52 iterations 10
Cbc0038I Pass  48: suminf.    1.00000 (5) obj. -52 iterations 55
Cbc0038I Pass  49: suminf.    0.49776 (2) obj. -51.2399 iterations 35
Cbc0038I Pass  50: suminf.    0.66667 (2) obj. -52 iterations 7
Cbc0038I Pass  51: suminf.    2.80000 (8) obj. -52.2 iterations 75
Cbc0038I Pass  52: suminf.    0.49776 (2) obj. -51.2399 iterations 68
Cbc0038I Pass  53: suminf.    0.66667 (2) obj. -52 iterations 17
Cbc0038I Pass  54: suminf.    3.33333 (10) obj. -52 iterations 71
Cbc0038I Pass  55: suminf.    0.49776 (2) obj. -51.2399 iterations 76
Cbc0038I Pass  56: suminf.    0.66667 (2) obj. -52 iterations 20
Cbc0038I Pass  57: suminf.    2.23992 (8) obj. -51.2399 iterations 49
Cbc0038I Pass  58: suminf.    3.31760 (15) obj. -51.2399 iterations 56
Cbc0038I Pass  59: suminf.    0.49776 (2) obj. -51.2399 iterations 41
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 1613 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (15.56 seconds)
Cbc0038I After 15.57 seconds - Feasibility pump exiting with objective of -50 - took 1.41 seconds
Cbc0012I Integer solution of -50 found by feasibility pump after 0 iterations and 0 nodes (15.57 seconds)
Cbc0038I Full problem 933 rows 1676 columns, reduced to 1 rows 2 columns
Cbc0012I Integer solution of -51 found by DiveCoefficient after 1 iterations and 0 nodes (16.15 seconds)
Cbc0013I At root node, 0 cuts changed objective from -52.2 to -51 in 1 passes
Cbc0014I Cut generator 0 (Probing) - 0 row cuts average 0.0 elements, 1 column cuts (1 active)  in 0.058 seconds - new frequency is 1
Cbc0014I Cut generator 1 (Gomory) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 2 (Knapsack) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 4 (OddWheel) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 5 (MixedIntegerRounding2) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.015 seconds - new frequency is -100
Cbc0014I Cut generator 6 (FlowCover) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.002 seconds - new frequency is -100
Cbc0045I Orbital branching succeeded 0 times - average extra   0.000, fixing (3,  51.333)
Cbc0001I Search completed - best objective -51, took 1 iterations and 0 nodes (16.19 seconds)
Cbc0035I Maximum depth 0, 6 variables fixed on reduced cost
Total time (CPU seconds):       16.33   (Wallclock seconds):       16.66

Starting solution of the Linear programming relaxation problem using Primal Simplex

Clp0024I Matrix will be packed to eliminate 12 small elements
Coin0506I Presolve 1405 (-2607) rows, 3299 (-672) columns and 789598 (-3951) elements
Clp0030I 16 infeas 5.4651952, obj 76 - mu 2.8792184, its 52, 1593 interior
Clp0030I 24 infeas 0.062659113, obj 52.195172 - mu 0.31984918, its 105, 2526 interior
Clp0030I 31 infeas 0.079090082, obj 52.495005 - mu 0.011842712, its 105, 3103 interior
Clp0030I 38 infeas 0.0036373378, obj 52.195814 - mu 0.0013155938, its 105, 3123 interior
Clp0030I 45 infeas 7.0924879e-05, obj 52.191341 - mu 0.00014614785, its 105, 3142 interior
Clp1000I sum of infeasibilities 2.44649e-05 - average 1.74128e-08, 191 fixed columns
Coin0506I Presolve 1400 (-5) rows, 3105 (-194) columns and 662169 (-127429) elements
Clp0006I 0  Obj 52.191446 Primal inf 4.7642812e-05 (2) Dual inf 6.1564789e+14 (592)
Clp0029I End of values pass after 3093 iterations
Clp0014I Perturbing problem by 0.001% of 1.5466219 - largest nonzero change 2.9466117e-05 ( 0.0017548432%) - largest zero change 2.6614408e-05
Clp0000I Optimal - objective value 52.2
Clp0000I Optimal - objective value 52.2
Coin0511I After Postsolve, objective 52.2, infeasibilities - dual 0 (0), primal 0 (0)
Clp0006I 0  Obj 52.2
Clp0000I Optimal - objective value 52.2
Clp0000I Optimal - objective value 52.2
Clp0000I Optimal - objective value 52.2
Coin0511I After Postsolve, objective 52.2, infeasibilities - dual 0 (0), primal 0 (0)
Clp0032I Optimal objective 52.2 - 0 iterations time 4.782, Presolve 0.11, Idiot 4.66

Starting MIP optimization
Cgl0003I 0 fixed, 0 tightened bounds, 4 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 3 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 3 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 2 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 2 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 2 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 2 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 2 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 2 strengthened rows, 0 substitutions
Cgl0004I processed model has 1401 rows, 1676 columns (1676 integer (1676 of which binary)) and 389502 elements
Coin3009W Conflict graph built in 1.476 seconds, density: 17.797%
Cgl0015I Clique Strengthening extended 354 cliques, 822 were dominated
Cbc0045I Nauty: 3625 orbits (9 useful covering 66 variables), 57 generators, group size: 1.62803e+46 - sparse size 883822 - took 0.032139 seconds
Cbc0038I Initial state - 2 integers unsatisfied sum - 0.8
Cbc0038I Solution found of -49
Cbc0038I Before mini branch and bound, 1674 integers at bound fixed and 0 continuous
Cbc0038I Full problem 933 rows 1676 columns, reduced to 0 rows 0 columns
Cbc0038I Mini branch and bound did not improve solution (14.30 seconds)
Cbc0038I Round again with cutoff of -50.2199
Cbc0038I Reduced cost fixing fixed 5 variables on major pass 2
Cbc0038I Pass   1: suminf.    0.27109 (2) obj. -50.2199 iterations 20
Cbc0038I Pass   2: suminf.    0.66667 (2) obj. -52 iterations 3
Cbc0038I Pass   3: suminf.    3.39005 (8) obj. -50.2199 iterations 60
Cbc0038I Pass   4: suminf.    0.80000 (2) obj. -52.2 iterations 41
Cbc0038I Pass   5: suminf.    0.27109 (2) obj. -50.2199 iterations 14
Cbc0038I Pass   6: suminf.    0.66667 (2) obj. -52 iterations 6
Cbc0038I Pass   7: suminf.    0.30498 (2) obj. -50.2199 iterations 60
Cbc0038I Pass   8: suminf.    0.27109 (2) obj. -50.2199 iterations 67
Cbc0038I Pass   9: suminf.    0.66667 (2) obj. -52 iterations 9
Cbc0038I Pass  10: suminf.    0.80634 (9) obj. -50.2199 iterations 67
Cbc0038I Pass  11: suminf.    0.36652 (4) obj. -50.2199 iterations 52
Cbc0038I Pass  12: suminf.    0.27109 (2) obj. -50.2199 iterations 23
Cbc0038I Pass  13: suminf.    0.66667 (2) obj. -52 iterations 18
Cbc0038I Pass  14: suminf.    0.30498 (2) obj. -50.2199 iterations 79
Cbc0038I Pass  15: suminf.    0.27109 (2) obj. -50.2199 iterations 52
Cbc0038I Pass  16: suminf.    0.66667 (2) obj. -52 iterations 5
Cbc0038I Pass  17: suminf.    0.60995 (4) obj. -50.2199 iterations 53
Cbc0038I Pass  18: suminf.    0.27109 (2) obj. -50.2199 iterations 75
Cbc0038I Pass  19: suminf.    0.66667 (2) obj. -52 iterations 9
Cbc0038I Pass  20: suminf.    1.60000 (4) obj. -52.2 iterations 86
Cbc0038I Pass  21: suminf.    0.27109 (2) obj. -50.2199 iterations 37
Cbc0038I Pass  22: suminf.    0.66667 (2) obj. -52 iterations 5
Cbc0038I Pass  23: suminf.    0.66667 (2) obj. -52 iterations 47
Cbc0038I Pass  24: suminf.    0.27109 (2) obj. -50.2199 iterations 33
Cbc0038I Pass  25: suminf.    0.66667 (2) obj. -52 iterations 9
Cbc0038I Pass  26: suminf.    1.00000 (5) obj. -52 iterations 56
Cbc0038I Pass  27: suminf.    0.27109 (2) obj. -50.2199 iterations 38
Cbc0038I Pass  28: suminf.    0.66667 (2) obj. -52 iterations 4
Cbc0038I Pass  29: suminf.    0.27109 (2) obj. -50.2199 iterations 50
Cbc0038I Pass  30: suminf.    0.27109 (2) obj. -50.2199 iterations 34
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 1623 integers at bound fixed and 0 continuous
Cbc0038I Full problem 933 rows 1676 columns, reduced to 77 rows 49 columns
Cbc0038I Mini branch and bound improved solution from -49 to -50 (14.98 seconds)
Cbc0038I Round again with cutoff of -51.2399
Cbc0038I Reduced cost fixing fixed 7 variables on major pass 3
Cbc0038I Pass  30: suminf.    0.49776 (2) obj. -51.2399 iterations 0
Cbc0038I Pass  31: suminf.    0.66667 (2) obj. -52 iterations 1

Cbc0038I Pass  32: suminf.    0.66667 (2) obintermediate time elapsed: 47.364431381225586
i: 0, t: 280
i: 1, t: 291
i: 2, t: 342
i: 3, t: 293
i: 4, t: 289
i: 5, t: 104
i: 6, t: 182
i: 7, t: 307
time elapsed: 47.36721110343933

In [73]:
df["Starting_Time"] = df["Starting_Time_min"]
df["Ending_Time"] = df["Starting_Time_min"] + df["Time"]


df.loc[~df["Starting_Time"].isnull(),"Starting_Time"] = (
    (df.loc[~df["Starting_Time"].isnull(),"Starting_Time"]//60).astype(int).astype(str)
    + "h " 
    + (df.loc[~df["Starting_Time"].isnull(),"Starting_Time"]%60).astype(int).astype(str) + "m")

df.loc[~df["Ending_Time"].isnull(),"Ending_Time"] = (
    (df.loc[~df["Ending_Time"].isnull(),"Ending_Time"]//60).astype(int).astype(str)
    + "h " 
    + (df.loc[~df["Ending_Time"].isnull(),"Ending_Time"]%60).astype(int).astype(str) + "m")

In [74]:
df.sort_values(by="Starting_Time_min")[
    ["Starting_Time_min","Activity name","Starting_Time",
     "Ending_Time", "Energy needed","Satisfaction"]]

,Starting_Time_min,Activity name,Starting_Time,Ending_Time,Energy needed,Satisfaction
5,623.0,have breakfast,10h 23m,10h 53m,0,3
3,651.0,go running,10h 51m,11h 41m,5,8
0,661.0,watch anime,11h 1m,12h 1m,0,7
6,665.0,play video game short,11h 5m,12h 5m,0,7
2,675.0,go to swim,11h 15m,12h 35m,4,8
7,714.0,play video game long,11h 54m,13h 54m,0,8
4,769.0,have lunch,12h 49m,13h 49m,0,3
1,771.0,exercise,12h 51m,13h 31m,3,7
8,NaN,read a good book,NaN,NaN,3,6
9,NaN,do a coding tutorial short,NaN,NaN,6,9
10,NaN,do a coding tutorial long,NaN,NaN,8,10

In [75]:
df.loc[df["Starting_Time"].notna(), "Satisfaction"].sum()

51

In [76]:
for i in range(11):
    if(y[i].x==1):
        print(f"y[{i}] = {y[i].x}")

y[0] = 1.0
y[1] = 1.0
y[2] = 1.0
y[3] = 1.0
y[4] = 1.0
y[5] = 1.0
y[6] = 1.0
y[7] = 1.0

In [77]:
skip_i = ""
for i,t in product(I,T):
    if(skip_i!=i):
        if(y[i].x!=1):
            skip_i = i
            continue  
        if(x[i][t].x>0):
           change_i = i
           print(f"x[{i},{t+8*60}] = {x[i][t].x}")

x[0,661] = 1.0
x[1,771] = 1.0
x[2,675] = 1.0
x[3,651] = 1.0
x[4,769] = 1.0
x[5,623] = 1.0
x[6,665] = 1.0
x[7,714] = 1.0